$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './colors';


.welcome {
  display: block;
  margin: auto;
  width: 100%;
}

body {
  background-color: $blue-gray;
  color: $lighter-pond-green;
}

h1 {
  color: $lighter-pond-green;
  text-align: center;
}

p {
  page-break-after: always;
  page-break-before: always;
  text-align: center;
}

button {
  background-color: $darker-pond-green;
  border-color: $darker-pond-green;
  color: $bark-brown;
  text-align: center;
}

.container {
  border-color: $dark-fawn;
  border-radius: 20px;
  border-style: solid;
  justify-content: center;
  margin: 0 auto;
  page-break-after: always;
  page-break-before: always;
  text-align: center;
  width: 35%;

  .item {
    border-color: $darker-pond-green;
    border-radius: 50%;
    border-style: solid;
    margin: auto;
    max-height: 50px;
    max-width: 50px;
    padding: 30px;
    text-align: center;
  }
}

#message {
  border-color: $dark-fawn;
  border-style: ridge;
}

#sign-up {
  text-align: center;
}

#sign-in {
  text-align: center;
}

#change-password {
  text-align: center;
}
